.sidebar {
  display: flex;
  min-height: 100vh;
  max-width: 200px;
  padding: 0 20px;
  flex-direction: column;
  align-items: center;
  background-color: #d5d7d7;
  box-shadow: 0 2px 5px grey;
}

.color-link {
  text-decoration: none;
  color: black;
}

.btn {
  margin-top: 50%;
  margin-bottom: 20px;
  border: 1px solid black;
}

.btn:hover {
  border: 1px solid blue;
}

@media screen and (max-width: 420px) {
  .sidebar {
    display: none;
  }
}
